! Load colors
#include "./.colors/miami-night"


! Global settings
! ---------------
Xcursor.theme:           pixelfun3
URxvt*buffered:          false
URxvt*secondaryWheel:    true
! Dont set, causes text artifacts in neovim
! URxvt*termName:          rxvt-256color


! Appearance
! ----------
URxvt*cursorUnderline:   1
URxvt*letterspace:       -5
URxvt*cursorBlink:       true
URxvt*scrollBar:         false
URxvt*internalBorder:    10
!urxvt*fading:           10
!urxvt*fadeColor:        #000000
!uRxvt*depth:             32


! URL Catching
! ------------
URxvt*perl-lib:          /usr/lib/urxvt/perl/
URxvt*perl-ext-common:   default,matcher,font-size
URxvt*url-launcher:      /usr/bin/firefox
URxvt*matcher.button:    1


! Font stuff
! ----------
Xft.dpi:                 96
Xft.rgba:                rgb
Xft.antialias:           1
Xft.autohint:            0
Xft.hinting:             1
Xft.hintstyle:           hintfull
Xft.lcdfilter:           lcddefault

URxvt*font:              -lucy-tewi-medium-r-normal--11-90-100-100-c-60-ISO10646-1
URxvt*boldFont:          -lucy-tewi-bold-r-normal--11-80-100-100-c-60-ISO10646-1


! Font switch
! -----------
URxvt.keysym.C-minus: perl:font-size:decglobal
URxvt.keysym.C-equal: perl:font-size:incglobal

URxvt.keysym.C-8: command:\033]710;-lucy-tewi-medium-r-normal--11-90-100-100-c-60-ISO10646-1\007\033]711;-lucy-tewi-medium-r-normal--11-90-100-100-c-60-ISO10646-1;\007
URxvt.keysym.C-9: command:\033]710;xft:Envy Code R:regular:size=9\007\033]711;xft:Envy Code R:bold:size=9\007
URxvt.keysym.C-0: command:\033]710;-lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1\007\033]711;-lokaltog-fixed-medium-r-normal--10-100-75-75-c-60-iso8859-1\007


! Emacs
! -----
! Emacs.geometry: 80x30
Emacs.menuBar:           off
Emacs.toolBar:           off
